{% extends 'base.html.twig' %}

{% block title %}Rendez-vous{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <h2>Mes rendez-vous</h2>
            <p>Liste des consultations (placeholder).</p>
            <p><a href="{{ path('appointments_new') }}">Prendre un rendez-vous</a></p>
        </div>
    </div>
{% endblock %}
