{% extends 'base.html.twig' %}

{% block title %}Habitudes quotidiennes{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <h2>Habitudes quotidiennes</h2>
            <p>Enregistrer et consulter vos habitudes (placeholder).</p>
        </div>
    </div>
{% endblock %}
