{% extends 'base.html.twig' %}

{% block title %}Niveau de stress{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <h2>Stress</h2>
            <p>Évaluer et suivre le niveau de stress (placeholder).</p>
        </div>
    </div>
{% endblock %}
