firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            
            # ATTENTION : form_login doit être aligné SOUS provider
            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: false
                default_target_path: dashboard
                always_use_default_target_path: true

            logout:
                path: app_logout
                target: app_login